In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
# pd.set_option('max_columns', None)

In [2]:
dataset = [['Eggs', 'Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs'],
           ['Orange', 'Corn', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Orange', 'Eggs'], 
           ['Corn', 'Coke', 'Kidney Beans', 'Ice cream'],
           ['Dill', 'Onion', 'Nutmeg'],
           ['Coke', 'Apple', 'Ice cream']
          ]

In [3]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
print("Transactions:")
df

Transactions:

,Apple,Coke,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Orange,Unicorn,Yogurt
0,False,False,False,False,True,False,True,True,True,True,False,False,True
1,False,False,False,True,True,False,False,False,True,True,False,False,True
2,True,False,False,False,True,False,True,True,False,False,False,False,False
3,False,False,True,False,False,False,True,True,False,False,False,True,True
4,False,False,True,False,True,True,True,False,False,True,False,False,False
5,False,False,True,False,True,False,False,False,False,False,True,False,True
6,True,False,False,False,True,False,False,True,False,False,True,False,False
7,False,True,True,False,False,True,True,False,False,False,False,False,False
8,False,False,False,True,False,False,False,False,True,True,False,False,False
9,True,True,False,False,False,True,False,False,False,False,False,False,False

In [4]:
print("Check null:")
df.isnull().any()

Check null:

Apple           False
Coke            False
Corn            False
Dill            False
Eggs            False
Ice cream       False
Kidney Beans    False
Milk            False
Nutmeg          False
Onion           False
Orange          False
Unicorn         False
Yogurt          False
dtype: bool

In [8]:
print("Support:")
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True) # dat nguong dua tren so transaction 
frequent_itemsets

Support:

    support              itemsets
0       0.3               (Apple)
1       0.4                (Corn)
2       0.6                (Eggs)
3       0.3           (Ice cream)
4       0.5        (Kidney Beans)
5       0.4                (Milk)
6       0.3              (Nutmeg)
7       0.4               (Onion)
8       0.4              (Yogurt)
9       0.3  (Kidney Beans, Corn)
10      0.3  (Eggs, Kidney Beans)
11      0.3          (Eggs, Milk)
12      0.3         (Onion, Eggs)
13      0.3        (Eggs, Yogurt)
14      0.3  (Kidney Beans, Milk)
15      0.3       (Nutmeg, Onion)

In [9]:
from mlxtend.frequent_patterns import association_rules
confidences = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3) 
print("Confidence:")
confidences

Confidence:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Corn),0.5,0.4,0.3,0.60,1.50,0.10,1.5
1,(Corn),(Kidney Beans),0.4,0.5,0.3,0.75,1.50,0.10,2.0
2,(Eggs),(Kidney Beans),0.6,0.5,0.3,0.50,1.00,0.00,1.0
3,(Kidney Beans),(Eggs),0.5,0.6,0.3,0.60,1.00,0.00,1.0
4,(Eggs),(Milk),0.6,0.4,0.3,0.50,1.25,0.06,1.2
5,(Milk),(Eggs),0.4,0.6,0.3,0.75,1.25,0.06,1.6
6,(Onion),(Eggs),0.4,0.6,0.3,0.75,1.25,0.06,1.6
7,(Eggs),(Onion),0.6,0.4,0.3,0.50,1.25,0.06,1.2
8,(Eggs),(Yogurt),0.6,0.4,0.3,0.50,1.25,0.06,1.2
9,(Yogurt),(Eggs),0.4,0.6,0.3,0.75,1.25,0.06,1.6
10,(Kidney Beans),(Milk),0.5,0.4,0.3,0.60,1.50,0.10,1.5
11,(Milk),(Kidney Beans),0.4,0.5,0.3,0.75,1.50,0.10,2.0
12,(Nutmeg),(Onion),0.3,0.4,0.3,1.00,2.50,0.18,inf
13,(Onion),(Nutmeg),0.4,0.3,0.3,0.75,2.50,0.18,2.8

In [10]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.4)
print("Lift:")
rules

Lift:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Corn),0.5,0.4,0.3,0.60,1.5,0.10,1.5
1,(Corn),(Kidney Beans),0.4,0.5,0.3,0.75,1.5,0.10,2.0
2,(Kidney Beans),(Milk),0.5,0.4,0.3,0.60,1.5,0.10,1.5
3,(Milk),(Kidney Beans),0.4,0.5,0.3,0.75,1.5,0.10,2.0
4,(Nutmeg),(Onion),0.3,0.4,0.3,1.00,2.5,0.18,inf
5,(Onion),(Nutmeg),0.4,0.3,0.3,0.75,2.5,0.18,2.8

In [11]:
rules.to_csv('result.csv')